#new_flow.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      = simple_form_for @flow, wrapper: 'bootstrap3_inline' do |f|
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &times;
          %h4#myModalLabel.modal-title Create a new flow
        .modal-body
          = f.input :name, placeholder: 'Name your Flow', hint: 'Example: if you want to manage projects, name your Flow "Project", etc.', input_html: { class: 'input-lg' }

          %ul.nav.nav-tabs.nav-justified
            %li.dropdown.active
              %a.dropdown-toggle#fields{ data: { toggle: 'dropdown' } }
                Fields
                %span.caret
              %ul.dropdown-menu{role: 'menu', aria: { labelledby: 'fields' } }
                %li.active
                  %a{ href: '#fields-edit', tabindex: '-1', data: { toggle: 'tab' } } Edit
                %li
                  %a{ href: '#fields-preview', tabindex: '-1', data: { toggle: 'tab' } } Preview
            %li
              %a{href: '#steps', data: { toggle: 'tab' } } Steps


          .tab-content.closing-tab-box

            #fields-edit.tab-pane.fade.in.active
              Edit fields

            #fields-preview.tab-pane.fade
              Preview fields

            #steps.tab-pane.fade
              Edit steps

        .modal-footer
          = f.button :button, 'Cancel', class: 'btn-default', type: 'button', data: { dismiss: 'modal' }
          = f.button :button, 'Create', class: 'btn-primary', type: 'button'