- field_type = f.object.field_type
- options = { maxlength: field_type.max_char_count }
- if field_type.default_value && f.object.value.blank?
  - options.merge({ value: field_type.default_value })

= f.input :value, label: field_type.label, placeholder: field_type.placeholder, input_html: options, hint: ((field_type.unique? ? 'This value must be unique within the flow. ' : '') + field_type.help_info), wrapper: (field_type.label.blank? ? :inline_form : :vertical_form), required: field_type.required?, as: :text