.panel.panel-default.nested-fields

  .panel-heading
    %h3.panel-title
      %button{ type: 'button', class: 'btn btn-link popover-dismiss', title: 'Validation rules', data: { toggle: 'popover', placement: 'top', html: 'true', content: render('items/popover/' + f.object.class.name.underscore, field_value: f.object) } }
        %span.glyphicon.glyphicon-info-sign
      = f.object.field_type.name.capitalize

  .panel-body
    = f.hidden_field :_type
    = f.hidden_field :current_value
    = render 'items/form/' + f.object.class.name.underscore, f: f