.panel.panel-default.nested-fields

  .panel-heading
    %h3.panel-title= f.object.field_type.name.capitalize

  .panel-body
    = f.hidden_field :_type
    = f.hidden_field :current_value#, value: f.object.value
    = render 'items/' + f.object.class.name.underscore, f: f