.page-header
  = link_to flow_items_path(@flow), :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_flow_item_path(@flow, @item), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show item

%dl.dl-horizontal
