- flash.each do |name, msg|
  - if msg.is_a?(String)
    .alert.alert-dismissible{ role: 'alert', class: "alert-#{set_flash_message_type_for_bootstrap(name)}" }
      %button.close{ type: 'button', role: 'alert', data: { dismiss: 'alert' } }
        %span{ aria: { hidden: 'true' } } &times;
        %span.sr-only= 'Close'
      = msg.html_safe